<div class="container">
  <div class="card text-center">
    <div class="card-header">
      <%= "Memory ##{@memory.id}" %>
    </div>
    <div class="card-body">
      <h4 class="card-title"><%= @memory.title %></h4>
      <%= link_to(image_tag(@memory.image.url(:medium)), @memory.image.url, target: '_blank') if @memory.image.exists? %>
      <p class="card-text"><%= @memory.description %></p>
      <%= link_to 'Full-Sized Image', @memory.image.url, class: 'btn btn-primary' %>
    </div>
    <div class="card-footer text-muted">
      <%= "#{time_ago_in_words(@memory.created_at)} ago by #{@memory.author.titlize}" %>
    </div>
  </div>
</div>
